/* ? Class yang bisa dipakai */

.glassmorph {
  background: rgba(255, 255, 255, 0.384);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 10px ) saturate(134%);
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.226);
  position: relative;
  overflow: hidden;
}

.glow1 {
  background: #bbbbbb3a;
   transition: all 0.3s ease-in-out;
  background: linear-gradient(358deg, rgba(30, 30, 130, 0.144) 0%, rgba(0, 0, 185, 0.068) 37%, rgba(0, 0, 0, 0.123) 97%);
}
.glassmorph-nav {
  background: rgba(255, 255, 255, 0.151);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  position: relative;
  overflow: hidden;
}

.glow-nav {
  background: #00000021;
   transition: all 0.3s ease-in-out;
}

img {
  user-select: none;
  pointer-events: none;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(13, 55, 192);
  box-shadow: 0 0 30px 5px rgba(48, 75, 226, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

/* ? Animate */

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes scroll-x {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll-x {
  animation: scroll-x 35s linear infinite;
}
.animate-scroll-x-2 {
  animation: scroll-x 23s linear infinite;
}


.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-blur {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.6s ease-out;
}
.fade-blur.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.zoom-in {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.6s ease-out;
}
.zoom-in.show {
  opacity: 1;
  transform: scale(1);
}


button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* ! bagian scroll */

    .scroll-x::-webkit-scrollbar {
      height: 6px;
    }

    .scroll-x::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 9999px;
    }

    .scroll-x::-webkit-scrollbar-track {
      background: transparent;
    }

    .scroll-y-hidden {
      scrollbar-width: none;
    }

    .scroll-y-hidden::-webkit-scrollbar {
      display: none;
    }

    body {
    overflow-x: hidden;
     /* background: linear-gradient(135deg, #2b75e4 0%, #285ae4 50%, #0066ff 100%); */
    }
